@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}
body {
    background-image: -moz-linear-gradient(#f1d8c9, #f2c3a7);

}
main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(148, 147, 147, 0.808);
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1 { 
    color: darkorange;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.514);;
}
h2 {
    color: rgb(78, 78, 221);
}
p {
    text-align: justify;
}